.notification-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  width: 80%;
  max-width: 600px;
  border-radius: 10px; /* Added border-radius for rounded corners */
}

.notification-list {
  max-height: 300px; /* Adjust this value as needed */
  overflow-y: auto;
  padding: 0;
  list-style-type: none;
  margin-top: 10px; /* Added space between the mark all as read button and the notifications */
}

.notification-item {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mark-all-read-btn,
.mark-as-read-btn,
.close-modal-btn {
  padding: 10px 20px;
  background: #009688;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px; /* Added border-radius for rounded corners */
  display: inline-block;
}

.mark-all-read-btn {
  background: #007bff; /* Different color for mark all as read button */
  margin-bottom: 10px; /* Added space below the mark all as read button */
}

.mark-as-read-btn {
  margin-left: 10px; /* Space between hour and mark as read button */
}

.close-modal-btn {
  background: #f44336; /* Red color for close button */
  margin-top: 20px;
  display: block;
  width: 100%;
  text-align: center; /* Center align the close button */
}

.notification-details {
  display: flex;
  flex-direction: column;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background: #009688;
  color: white;
  border: none;
  cursor: pointer;
}
