<div class="dashboard-container">
    <div class="card" *ngIf="isDoctor || isAdmin || isPatient">
      <a [routerLink]="getLink('Locations')" class="card-link">
        <div class="card-icon">
          <img src="assets/LocationsIcon.png" alt="Locations icon" width="150" height="150">
        </div>
        <div class="card-label">Locations</div>
      </a>
    </div>
    
    <div class="card" *ngIf="isPatient || isAdmin">
      <a [routerLink]="getLink('Doctors')" class="card-link">
        <div class="card-icon">
          <img src="assets/DoctorProfilePhoto.png" alt="Doctors icon" width="150" height="150">
        </div>
        <div class="card-label">Doctors</div>
      </a>
    </div>
    
    <div class="card" *ngIf="isDoctor || isAdmin">
        <a [routerLink]="getLink('Patients')" class="card-link">
          <div class="card-icon">
            <img src="assets/PatientsPhoto.png" alt="Patients icon" width="150" height="150">
          </div>
          <div class="card-label">Patients</div>
        </a>
      </div>
    
    <div class="card" *ngIf="isDoctor || isPatient || isAdmin">
      <a [routerLink]="getLink('Appointments')" class="card-link">
        <div class="card-icon">
          <img src="assets/AppointmentsIcon.png" alt="Appointments icon" width="150" height="150">
        </div>
        <div class="card-label">Appointments</div>
      </a>
    </div>
    
    <div class="card" *ngIf="isAdmin || isPatient || isDoctor">
      <a [routerLink]="getLink('Profile')" class="card-link">
        <div class="card-icon">
          <img src="assets/UserProfileButtonIcon.png" alt="Profile icon" width="150" height="150">
        </div>
        <div class="card-label">Profile</div>
      </a>
    </div>
    
    <div class="card" *ngIf="isAdmin">
      <a [routerLink]="getLink('Users')" class="card-link">
        <div class="card-icon">
          <img src="assets/UsersManagement.png" alt="Users icon" width="150" height="150">
        </div>
        <div class="card-label">Users management</div>
      </a>
    </div>

    <div class="card" *ngIf="isAdmin || isPatient || isDoctor">
        <a [routerLink]="getLink('ContactInfo')" class="card-link">
          <div class="card-icon">
            <img src="assets/ContactInfo.png" alt="Users icon" width="150" height="150">
          </div>
          <div class="card-label">ContactInfo</div>
        </a>
      </div>
  </div>
  