<div class="container mt-4">
  <h2>Reschedule appointment</h2>
  <form [formGroup]="appointmentForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="dateTime">Date and Time</label>
      <input formControlName="dateTime" type="datetime-local" id="dateTime" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="reason">Reason</label>
      <textarea formControlName="reason" id="reason" class="form-control  reason-textarea" rows="5"></textarea>
    </div>
    <button type="submit" class="btn btn-primary  custom-margin" routerLink="/appintment">Back</button>
    <button type="submit" class="btn btn-primary  custom-margin">Update</button>
  </form>
</div>
