.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-container {
    background-color: #333;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 500px;
    color: white;
  }
  
  .mat-card-title {
    text-align: center;
    margin-bottom: 30px;
    font-size: 50px;
  }
  
  .mat-form-field {
    width: 100%;
    margin-bottom: 30px;
  }
  
  input.mat-input-element {
    font-size: 18px;
    padding: 10px;
  }
  
  button.mat-raised-button {
    width: 100%;
    padding: 15px 0;
    font-size: 18px;
    margin-top: 20px;
  }
  
  .social-login button {
    margin-right: 15px;
  }
  
  .social-login img {
    width: 24px;
    height: auto;
  }
  