.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-container {
    background-color: #333;
    padding: 40px; /* Increased padding */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 500px; /* Adjust width as needed */
    color: white;
  }
  
  .mat-card-title {
    text-align: center;
    margin-bottom: 30px; /* Increased space below title */
    font-size: 50px; /* Increased font size */
  }
  
  .mat-form-field {
    width: 100%; /* Form fields full width */
    margin-bottom: 30px; /* Increased space between fields */
  }
  
  input.mat-input-element {
    font-size: 18px; /* Increased font size */
    padding: 10px; /* Increased padding for input */
  }
  
  button.mat-raised-button {
    width: 100%; /* Full width button */
    padding: 15px 0; /* Increased padding for larger button */
    font-size: 18px; /* Increased font size */
    margin-top: 20px; /* Space above the button */
  }
  
  .social-login button {
    margin-right: 15px; /* Space between social buttons */
  }
  
  .social-login img {
    width: 24px; /* Adjust image size */
    height: auto;
  }
  