<div class="container mt-4">
  <h2>Users</h2>
  <div class="row">
    <div class="col-md-4 mb-3" *ngFor="let user of users">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ user.name }} {{ user.surname }}</h5>
          <p><strong>User ID:</strong> {{ user.userId }}</p>
          <p><strong>Username:</strong> {{ user.username }}</p>
          <p><strong>Email:</strong> {{ user.emailAddress }}</p>
          <p><strong>Age:</strong> {{ user.age }}</p>
          <p><strong>Phone:</strong> {{ user.phoneNumber }}</p>
          <p><strong>Address:</strong> {{ user.address }}</p>
          <p><strong>Role ID:</strong> {{ user.roleId }}</p>
          <p><strong>CNP:</strong> {{ user.cnp }}</p>
          <div class="d-flex justify-content-around mt-3">
            <button class="btn btn-primary btn-sm" *ngIf="user.userId" [routerLink]="['/user/edit', user.userId]">Edit</button>
            <button class="btn btn-danger btn-sm" *ngIf="user.userId" (click)="confirmDeleteUser(user.userId)">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
            
          