<div class="container mt-3">
  <h2>Patients</h2>
  <div class="row">
    <div *ngFor="let patient of patients" class="col-md-4 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title text-center">{{ patient.name }} {{ patient.surname }}</h5>
          <ul class="list-unstyled">
            <li><strong>Username:</strong> {{ patient.username }}</li>
            <li><strong>Email:</strong> {{ patient.emailAddress }}</li>
            <li><strong>Next Appointment:</strong> {{ getNextAppointment(patient.userId)?.dateTime | date: 'short' || 'No upcoming appointments' }}</li>
          </ul>
          <div class="text-center">
            <button class="btn btn-primary mt-2" (click)="openModal(patient)">View patient profile</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div id="patientModal" class="modal" [class.show]="isModalOpen">
    <div class="modal-content">
      <span class="close" (click)="closeModal()" routerLink="/patients">&times;</span>
      <h2>{{ selectedPatient?.name }} {{ selectedPatient?.surname }}</h2>
      <ul class="list-unstyled">
        <li><strong>Username:</strong> <input title="username" type="text" [value]="selectedPatient?.username" readonly></li>
        <li><strong>Email:</strong> <input title="emailAddress" type="text" [value]="selectedPatient?.emailAddress" readonly></li>
        <li><strong>CNP:</strong> <input title="cnp" type="text" [value]="selectedPatient?.cnp" readonly></li>
        <li><strong>Age:</strong> <input title="age" type="text" [value]="selectedPatient?.age" readonly></li>
        <li><strong>Address:</strong> <input title="address" type="text" [value]="selectedPatient?.address" readonly></li>
        <li><strong>Phone:</strong> <input title="phone" type="text" [value]="selectedPatient?.phoneNumber" readonly></li>
      </ul>

      <h3>Upcoming Appointments</h3>
      <div *ngIf="upcomingAppointments.length === 0" class="text-center mt-5">
        <h4>No upcoming appointments scheduled.</h4>
        <p>Please book an appointment to see your doctor.</p>
      </div>
      <ul class="list-unstyled" *ngIf="upcomingAppointments.length > 0">
        <li *ngFor="let appointment of upcomingAppointments">
          <strong>{{ appointment.dateTime | date: 'short' }}:</strong> {{ appointment.reason }}
        </li>
      </ul>

      <h3>Past Appointments</h3>
      <div *ngIf="pastAppointments.length === 0" class="text-center mt-5">
        <h4>No past appointments found.</h4>
        <p>Your past appointments will be listed here.</p>
      </div>
      <ul class="list-unstyled" *ngIf="pastAppointments.length > 0">
        <li *ngFor="let appointment of pastAppointments">
          <strong>{{ appointment.dateTime | date: 'short' }}:</strong> {{ appointment.reason }}
        </li>
      </ul>

      <button class="btn btn-primary" (click)="closeModal()" routerLink="/patients" style="background-color: #f44336">Close</button>
    </div>
  </div>
</div>
