<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDJMpKd-JiHFlwKykZJKDS3kH6R8Sb9PA4&libraries=places"></script>
<title>HealthSync</title>
<link rel="stylesheet" href="app.component.css">
<link rel="icon" type="image/png" href="../assets/favicon.png">
</head>
<body>
  <header>
    <nav class="navbar">
      <div class="logo">
        <img src="assets/logoImage.png" alt="HealthSync Logo" class="circular-logo" >
        HealthSync
      </div>
      <div class="nav-wrapper">
        <ul class="nav-links">
          <li>
            <button mat-button *ngIf="isAdmin || isPatient || isDoctor" routerLink="/dashboard">Dashboard</button>
          </li>
          <li class="dropdown">
            <button mat-button class="dropbtn">Services</button>
            <div class="dropdown-content">
              <a mat-button *ngIf="isAdmin || isPatient" routerLink="/doctors">Doctors</a>
              <a mat-button *ngIf="isAdmin || isDoctor" routerLink="/patients">Patients</a>
              <a mat-button *ngIf="isAdmin || isPatient || isDoctor" routerLink="/appointment">Appointments</a>
              <a mat-button *ngIf="isAdmin" routerLink="/users">Users</a>
              <a mat-button *ngIf="isAdmin || isPatient || isDoctor" routerLink="/profile">Profile</a>
              <a mat-button routerLink="/locations">Locations</a>
              <a routerLink="/contactinfo">Contact Info</a>
            </div>
          </li>
        </ul>
      </div>
      
      <div class="search-bar" *ngIf="isAdmin || isPatient || isDoctor">
        <select title="selectedEntityType" [(ngModel)]="selectedEntityType">
          <option value="">Select Entity Type</option>
          <option value="users">Users</option>
          <option value="appointments">Appointments</option>
          <option value="patientRecords">Patient Records</option>
        </select>
        <input type="search" [(ngModel)]="searchTerm" placeholder="Search..." (keydown.enter)="onSearch()">
        <button type="button" class="search-button" (click)="onSearch()">Search</button>
      </div>
      <div class="auth-section">
        
        <div *ngIf="isAdmin || isPatient || isDoctor" class="notification-icon" (click)="viewNotifications()">
          <button mat-button>
          <img src="assets/Notification.png" alt="Notifications">
          </button>
          <div class="notification-count" *ngIf="unreadNotificationsCount > 0">
            {{ unreadNotificationsCount }}
          </div>
        </div>
        <ng-container *ngIf="isLoggedIn">
          <b>
            {{ currentUserFullName }}
          </b>
          <button mat-button routerLink="/profile">
          <div class="profile-picture">
            <img *ngIf="isPatient" src="assets/UserProfilePhoto.png" alt="Profile" />
            <img *ngIf="isDoctor" src="assets/DoctorProfilePhoto.png" alt="Profile" />
            <img *ngIf="isAdmin" src="assets/AdminProfilePhoto.png" alt="Profile" />
          </div>
        </button>
          <button mat-button (click)="logout()">Logout</button>
        </ng-container>
        <ng-container *ngIf="!isLoggedIn">
          <button mat-button routerLink="/login">Login</button>
          <button mat-button routerLink="/signup">Register</button>
        </ng-container>
      </div>
    </nav>
  </header>
  <main>
    <router-outlet></router-outlet>
    <app-notification-list *ngIf="showNotifications" [userId]="currentUserId" (notificationUpdated)="updateUnreadCount()"></app-notification-list>
  </main>
  <footer>
    <p>&copy; 2024 HealthSync. All rights reserved.</p>
  </footer>
  <script src="main.js"></script>
</body>
</html>
