/* .table {
  
  color: #000; 
}

.table th {
  background-color: #f4f4f4; 
}

.table td {
  background-color: #fff; 
}

.table-bordered th,
.table-bordered td {
  border: 1px solid #dee2e6;
}

.view-appointments-btn {
  background-color: #007bff; 
  color: white;
  border: none;
  padding: 0.375rem 0.75rem;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  line-height: 1.5;
  transition: background-color 0.15s ease-in-out;
}

.view-appointments-btn:hover {
  background-color: #0056b3;
  text-decoration: none;
} */
/* appointment-list.component.css */
.container {
  margin-top: 20px;
}

h2 {
  margin-bottom: 20px;
}

.card {
  margin-bottom: 20px;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
}

.card-text {
  font-size: 16px;
}

.btn {
  margin-right: 10px;
}
