<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-2">
    <h2 *ngIf="!isPatient">Appointments List</h2>
    <h2 *ngIf="isPatient">Your appointments</h2>
  </div>
  <div class="container mt-4">
    <h2>Upcoming Appointments</h2>
    <div class="d-flex justify-content-start align-items-center mb-2">
      <label for="sortOptions" class="mr-2">Sort By:</label>
      <select id="sortOptions" class="form-control w-25" (change)="onSortChange($event)">
        <option value="date">Date & Time</option>
        <option value="accepted">Accepted</option>
        <option value="declined">Declined</option>
        <option value="pending">Pending</option>
      </select>
    </div>
    <div class="card mb-3" *ngFor="let appointment of sortedAppointments">
      <div class="card-body" [ngClass]="{
        'text-success': appointment.status === 'Accepted',
        'text-danger': appointment.status === 'Declined',
        'text-pending': appointment.status === 'Pending'
      }">
        <div class="row">
          <div class="col-md-3">
            <h5 class="card-title">Doctor: {{ doctorNames[appointment.doctorId] || 'Unknown' }}</h5>
            <h5 class="card-title">Patient: {{ patientNames[appointment.patientId] || 'Unknown' }}</h5>
          </div>
          <div class="col-md-3">
            <p class="card-text"><strong>Date and Time:</strong> {{ appointment.dateTime | date: 'medium' }}</p>
            <p class="card-text"><strong>Reason:</strong> {{ appointment.reason }}</p>
          </div>
          <div class="col-md-6 d-flex justify-content-end align-items-center">
            <ng-container>
              <button class="btn btn-primary btn-sm mr-2 btn-custom"
                *ngIf="appointment.appointmentId"
                [routerLink]="['/appointment/edit', appointment.appointmentId]" style="background-color: orange;">
                Reschedule
              </button>
              <button class="btn btn-danger btn-sm mr-2 btn-custom"
                *ngIf="appointment.appointmentId"
                (click)="deleteAppointment(appointment.appointmentId)">
                Cancel
              </button>
              <button class="btn btn-primary btn-sm mr-2 btn-custom"
                *ngIf="(isDoctor || isAdmin) && !appointment.patientRecordId && (appointment.appointmentId && appointment.status === 'Accepted')"
                [routerLink]="['/medical-record/new', appointment.appointmentId]">
                Make Diagnosis
              </button>
              <button class="btn btn-primary btn-sm btn-custom"
                *ngIf="isPatient || isDoctor || isAdmin && appointment.status === 'Accepted'"
                [routerLink]="['/medical-record/view', appointment.appointmentId]">
                View Diagnostics
              </button>
              <span *ngIf="!appointment.patientRecordId && appointment.status === 'Accepted'">No diagnostics available yet.</span>

              <button *ngIf="(isDoctor || isAdmin) && (appointment.status === 'Pending' && appointment.appointmentId !== undefined)" class="btn btn-success btn-sm mr-2 btn-custom"
                (click)="acceptAppointment(appointment.appointmentId)">
                Accept
              </button>
              <button *ngIf="(isDoctor || isAdmin) && (appointment.status === 'Pending' && appointment.appointmentId !== undefined)" class="btn btn-danger btn-sm mr-2 btn-custom"
                (click)="declineAppointment(appointment.appointmentId)">
                Decline
              </button>
            </ng-container>
          </div>
        </div>
      </div>
    </div>

    <h2>Past Appointments</h2>
    <div class="card mb-3" *ngFor="let appointment of pastAppointments">
      <div class="card-body" [ngClass]="{
        'text-success': appointment.status === 'Accepted',
        'text-danger': appointment.status === 'Declined',
        'text-pending': appointment.status === 'Pending'
      }">
        <div class="row">
          <div class="col-md-3">
            <h5 class="card-title">Doctor: {{ doctorNames[appointment.doctorId] || 'Unknown' }}</h5>
            <h5 class="card-title">Patient: {{ patientNames[appointment.patientId] || 'Unknown' }}</h5>
          </div>
          <div class="col-md-3">
            <p class="card-text"><strong>Date and Time:</strong> {{ appointment.dateTime | date: 'medium' }}</p>
            <p class="card-text"><strong>Reason:</strong> {{ appointment.reason }}</p>
          </div>
          <div class="col-md-6 d-flex justify-content-end align-items-center">
            <span *ngIf="!appointment.patientRecordId">No diagnostics available yet.</span>
            <button class="btn btn-primary btn-sm mr-2 btn-custom"
              *ngIf="isPatient || isDoctor || isAdmin && (appointment.status === 'Accepted' || appointment.status === 'Pending')"
              [routerLink]="['/medical-record/view', appointment.appointmentId]">
              View Diagnostics
            </button>
            <button class="btn btn-primary btn-sm ml-2 btn-custom"
              *ngIf="(isDoctor || isAdmin) && !appointment.patientRecordId && appointment.appointmentId && (appointment.status === 'Accepted' || appointment.status === 'Pending')"
              [routerLink]="['/medical-record/new', appointment.appointmentId]">
              Make Diagnosis
            </button>
            <button class="btn btn-danger btn-sm mr-2 btn-custom"
              *ngIf="appointment.appointmentId"
              (click)="deleteAppointment(appointment.appointmentId)">
              Remove from list
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
